<div id="text-overlay">
{{Tour.tour_name}}
</br>
</div>
<img src="{{Tour.tour_image}}">
</br>
{{Tour.tour_description}}


<br>
<br>
 	{{#each Tour.Itineraries}}
 		<p>Day  {{this.day}} = {{this.description}}</p> ​
 	{{/each}}
