<div class="container">
    <div class="text-center">
        <h2 class="wordColors">{{Tour.tour_name}}</h2>
    </div>
    <br>
    <br>
    <div class="jumbotron text-center">
        <img src="{{Tour.tour_image}}" width="1000">
    </div>
    <br>
    <div class="text-center">
        <form class="" action="cart/addToCart" method="post">

<input type="hidden" name="tourId" value="{{Tour.id}}" />
<button type="submit" class="btn btn-primary" type="submit">Book Now!</button>

        </form>
    </div>
    <br>
    <br>

    <div class="">

        <h3 class="wordColors text-center"><u>Tour Description</u></h3>
        <p class="lead">{{Tour.tour_description}}</p>

    </div>
    <br>
    <div class="tourItin">
        <h3 class="wordColors text-center"><u>Itineraries</u></h3>

        {{#each Tour.Itineraries}}
            <p class=""><span class="lead"><strong>Day {{this.day}} :</strong></span> {{this.description}}</p> ​
        {{/each}}
    </div>

</div>
